# Copia este archivo a .env y completa los valores reales
# cp .env.example .env

# Oracle OFSC
ORACLE_URL=https://amx-res-co.fs.ocs.oraclecloud.com/
ORACLE_USUARIO=tu_usuario@claro.com.co

# Telegram
TELEGRAM_TOKEN=tu_token_aqui
ALLOWED_CHAT_ID=tu_chat_id_numerico

# Comportamiento del bot
KEEPALIVE_SEGUNDOS=240

# En Windows: true | En Linux/LXC: false
PERMITIR_SSO_SILENCIOSO_WINDOWS=false
